<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <listener>
        <listener-class>be.ugent.tiwi.sleroux.newsrec.webnewsrecommender.NewsRecContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>be.ugent.tiwi.sleroux.newsrec.webnewsrecommender.NewsRecSessionListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>GetRecommendationsServlet</servlet-name>
        <servlet-class>be.ugent.tiwi.sleroux.newsrec.webnewsrecommender.GetRecommendationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScorerServlet</servlet-name>
        <servlet-class>be.ugent.tiwi.sleroux.newsrec.webnewsrecommender.ViewedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>be.ugent.tiwi.sleroux.newsrec.webnewsrecommender.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetRecommendationsServlet</servlet-name>
        <url-pattern>/GetRecommendations.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScorerServlet</servlet-name>
        <url-pattern>/view.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>1000000</session-timeout>
    </session-config>
</web-app>
