#header,#page{
    width:100%;
    height:100%;
    height:2.1em;
}

#txtSearch{
    float:left;
    width:40%;
    height:2em;
    margin:1px 1px 1px 1px;
}

#btnSearch{
    float:left;
    width:10%;
    height:2em;
    margin:1px 1px 1px 1px;
}

#resultsDiv{
    width:30%;
    height:100%;
    float:left;
}

#articleDiv{
    width: 65%;
    float:left;
}

#articleFrame{
    width:100%;
    height:100%;
    display: none;
}

#btnBack{
    display:none;
}

.timestamp{
    font-size: x-small;
    font-style: italic;
}


@media screen and (max-width: 700px) {
    #articleDiv {
        width:100%;
        height:100%;
        float:left;
        display:none;
    }

    #resultsDiv{
        width:100%;
        height:100%;
    }
}
