.timestamp{
    font-size: small;
}

#txtSearch{
    float:left;
    width:40%;
    height:2em;
    margin:1px 1px 1px 1px;
}

#btnSearch{
    float:left;
    width:10%;
    height:2em;
    margin:1px 1px 1px 1px;
}

#header,#page{
    width:100%;
    height:100%;
    height:2.1em;
}

#contentDiv{
    width: 68%;
    float:left;
    

}

#articleFrame{
    width:100%;
    height:100%;
    display:none;
}

#resultsDiv{
    width:30%;
    height:100%;
    float:left;
}

#btnHide{
    display: none;
    position: fixed;
}



@media screen and (max-width: 600px) {
    #contentDiv {
        top: 0px;
        right:0px;
        width:100%;
        height:100%;
        display:none;
    }

    #resultsDiv{
        width:100%;
        height:100%;
    }
}
