#results {
    padding-top: 80px;
    padding-bottom: 30px;
    padding-left: 30px;
}

#recommended {
    padding-top: 80px;
    padding-bottom: 30px;
    padding-left: 30px;
    display: none;
}

#showMore {
    display: none;
    margin-left:auto;
    margin-right:auto;
    vertical-align: middle;
    background: #4C9CF1;
    font: normal 30px 'trebuchet MS', arial, helvetica;
    height: 40px;
    line-height: 40px;
    text-align: center;
    -moz-border-radius: 50px 50px 50px 50px;
    border-radius: 50px 50px 50px 50px;
    cursor:pointer;
}

.item {
    cursor:pointer;
    display:block;
}

.description {
    font-size: 12px;
    color: #555555;
}
.time{
    font-style: italic;
}

.source {
    font-style: italic;
}



/* Positionering load indicatie */
.loader {
    display: block;
    width: 100px ;
    margin-left:auto;
    margin-right:auto;
    vertical-align: middle
}

.settings {
    display:none
}

#buttons
{
    float:right;
    padding:5px 20px;
}

/* zoekbalk */
#queryinput, #submit
{
    float: left;
}

#queryinput
{
    padding: 5px 9px;
    height: 23px;
    width: 250px;
    border: 1px solid #a4c3ca;
    font: normal 13px 'trebuchet MS', arial, helvetica;
    background: #f1f1f1;
}



#btnSearch
{
    background: #4C9CF1;
    background-image: -moz-linear-gradient(#3b5998, #8b9dc3);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #3b5998),color-stop(1, #8b9dc3));

    -moz-border-radius: 3px 50px 50px 3px;
    border-radius: 3px 50px 50px 3px;

    border-width: 1px;
    border-style: solid;
    border-color: #4C9CF1 #8b9dc3 #4C9CF1;

    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;

    height: 35px;
    margin: 0 0 0 10px;
    padding: 0;
    width: 75px;
    cursor: pointer;
    font: bold 14px;
    color: #dfe3ee;

    text-shadow: 0 1px 0 rgba(255,255,255,1);
}

#btnSearch:hover
{
    background: #4C9CF1;
    background-image: -moz-linear-gradient(#4C9CF1, #4C9CF1);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #4C9CF1),color-stop(1, #4C9CF1));
}

#btnSearch:active
{
    background: #4C9CF1;
    outline: none;

    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

#btnSearch::-moz-focus-inner
{
    border: 0;
}


/* Algemene opmaak, grotendeels afkomstig van
http://blog.teamtreehouse.com/create-an-absolute-basic-mobile-css-responsive-navigation-menu
met enkele aanpassingen

*/
/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

/*MAIN*/

a {
    color: #4C9CF1;
    text-decoration: none;
    font-weight: bold;

}

a:hover {
    color: #444;
}


header {
    background: #fff;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 4px solid #4C9CF1;
    z-index: 100;

}

#topLeft{
    margin: 20px;
    float: left;
    width: 355px;
    height: 40px;
    display:block;
}

nav {
    float: right;
    padding: 20px;
}

#menu-icon {

    display: none;
    width: 40px;
    height: 40px;
    background: #4C8FEC url(../img/menu-icon.png) center;

}

a:hover#menu-icon {

    background-color: #444;
    border-radius: 4px 4px 0 0;

}

nav ul {

    list-style: none;

}

nav li {

    display: inline-block;
    float: left;
    padding: 10px

}

.current {

    color: #2262AD;

}

h1 {

    font-size: 1.65em;
    color: #2262AD;
    line-height: 1.15em;
    margin: 20px 0 ;

    cursor: pointer;
}



/*MEDIA QUERY*/
@media only screen and (max-width : 640px) {

    header {

        position: absolute;

    }

    #menu-icon {

        display:inline-block;

    }

    nav ul, nav:active ul {

        display: none;
        position: absolute;
        padding: 20px;
        background: #fff;
        border: 5px solid #444;
        right: 20px;
        top: 60px;
        width: 50%;
        border-radius: 4px 0 4px 4px;

    }

    nav li {

        text-align: center;
        width: 100%;
        padding: 10px 0;
        margin: 0;

    }

    nav:hover ul {
        display: block;
    }
}




